<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navegation') %> 
    <main class="container vh-100 pt-2 d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-2">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eius quibusdam veritatis, reprehenderit ratione voluptate facere atque voluptatibus saepe fuga voluptates, nobis quis doloribus mollitia cumque, harum nesciunt eligendi delectus.
        Facilis molestiae dignissimos hic quaerat voluptatibus ad, commodi officia sint dolores dolorem quia esse rerum magnam adipisci dolorum sunt assumenda suscipit. Naiosam, reprehenderit libero eaque commodi accusantium ratione incidunt corrupti quasi, cumque, repellendus eius fugiat autem numquam tenetur sapiente iure. Eius porro saepe numquam expedita deserunt?
        Saepe, vero repellat hic rerum deserunt voluptas architecto, magnam provident nobis debitis sit itaque mollitia quo atque labore temporibus totam illo quos consequatur dolores minus? Provident, assumenda. Qui, recusandae sapiente?
        Quod dolor iste neque labore quaerat? Reiciendis officia sequi non aliquam eaque mollitia adipisci omnis rem debitis laboriosam reprehenderit nisi tempora, quas placeat at ipsam veritatis officiis. Molestiae, quo possimus!</p>
      </section>
    </main>
  </body>
</html>
